.chat-box {
  float: left;

  width: 30%;
  height: 100%;

  border: 1px solid silver;
  border-radius: 6px;

  padding: 6px;

  .message-list {
    height: 90%;

    background-color: rgb(229, 229, 229);
    
    .message-author-name {
      color: rgb(random(255) + 99, random(255) + 99, random(255) + 99);
    }
  }

  .message-input {
    height: 10%;

    textarea {
      width: 100%;
      height: 60%;

      resize: none;
    }

    button {
      width: 100%;
      height: 40%;
    }
  }
}